h1 List Product Component
div
    form
        p
            span Product ID
            input([(ngModel)]="product.name", type="text", name="productName")
        p
            button((click)="submitRegister()") Submit

div
    table
        thead
        tr
            th Producto
            th Proveedor
        tbody
            tr ududud