h1 List Product By Andre

h3 Buscar:
h3 Filtrar:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name }}

p {{ (currentProvider || {}).name }}
