h1 Register Product Component
div
    form
        p
            span.label Producto:
            input(type="text", name="product")
        p
            span.label Proveedor Id:
            input(type="text", name="provider")
        p
            input(type="submit", value="Registrar")