h1 RegisterProvider Component


<form >
First nombre del proveedor:<br>
<input type="text" name="firstname" value="" placeholder = "ingrese nombre del proveedor">
<br>
<button>Enviar</button>
</form> 
