div.container

    div.content-container
        router-outlet

    div.left-panel
        div(*ngFor="let module of modules")
            button.subtitle {{ module.name }}
            div.actions-container
                button(*ngFor="let action of module.actions") {{ action.name }}

    div.top-bar
