div
    h3 Register
    form
        p
            span Name
            input(type="text")
        p
            span Lastname
            input(type="text")
        p
            span Email
            input(type="email")
        p
            span Password
            input(type="password")
        p
            span Password verification
            input(type="password")
        p
            button Submit
