h1 Register Product Lot Component


form(name="add-estimation", method="post")
        div.input
            span.label Code: 
            input(type="text", name="code")
        div.input
            span.label ProveedorId: 
            input(type="text", name="proveedorId")

        div.actions
            input(type="submit", value="Registrar")

