div
    form
        p
            span code : 
            input([(ngModel)]="lot.code", type="text", name="lotCode")

            span productId : 
            input([(ngModel)]="lot.productId", type="text", name="lotProductId")
        p
            button((click)="submitRegister()") Submit