h1 Register lot

h3 Buscar:
h3 Filtrar por Providers:
    select([(ngModel)]="currentProvider", (change)="getProducts()")
        option(*ngFor="let provider of providers", [ngValue]="provider") {{ provider.name}}

div(*ngIf="currentProvider")
    h3 Filtrar por Products:
    select([(ngModel)]="currentProduct")
        option(*ngFor="let product of products", [ngValue]="product") {{ product.name }}

form(*ngIf="currentProduct")
    
    p 
        span Provider   : 
        span {{ currentProvider.name }}
    
    p 
        span Product    : 
        span {{ currentProduct.name }}
    
    p
        span Code   :
        input([(ngModel)]="lot.code", name="code")
    
    p
        button((click)="submitRegisterLot()") Submit
